<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

        <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" >
            <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
            <property name="url" value="jdbc:mysql://localhost:3306/roc?useUnicode=true&amp;characterEncoding=UTF-8&amp;
            zeroDateTimeBehavior=convertToNull"/>
            <property name="username" value="root"/>
            <property name="password" value="root"/>
            <property name="maxIdle" value="30"/>
            <property name="defaultAutoCommit" value="true"/>
        </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis-spring-config.xml"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--<bean id="rocUserMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.today.roc.go.spring.mybatis.mapper.RocUserMapper"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>-->

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.today.roc.go.spring.mybatis.mapper"/>
        <property name="processPropertyPlaceHolders" value="true"/>
    </bean>

</beans>