<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.roc.dao.ProductCopyDao">
    
	<resultMap  id="productModelResultMap" type="priv.roc.entity.ProductCopy">
		<id  property="id" column="id"/>
		<result  property="name" column="name"/>
 	</resultMap> 
    
	<sql id="productColumns">
		a.productId AS "id",
		a.name AS "name"
	</sql>
	
	<sql id="ProductJoins">
	</sql>
    
	<select id="get" resultType="priv.roc.entity.ProductCopy">
		SELECT 
			<include refid="productColumns"/>
		FROM product_copy a
		<include refid="ProductJoins"/>
		WHERE a.productId = #{id}
	</select>
	
	<select id="findList" resultType="priv.roc.entity.ProductCopy">
		SELECT 
			<include refid="productColumns"/>
		FROM product_copy a
		<include refid="ProductJoins"/>
		<where>
			<if test="id !=null and id !=''">
				AND a.productId=#{id}
			</if>
			<if test="name !=null and name !=''">
				AND a.name=#{name}
			</if>
			<if test="validFlag !=null and validFlag !=''">
				AND a.validFlag=#{validFlag}
			</if>
			<if test="displayOnCRMFlag !=null and displayOnCRMFlag !=''">
				AND a.displayOnCRMFlag=#{displayOnCRMFlag}
			</if>
			<if test="crmBigTypeId !=null and crmBigTypeId !=''">
				AND a.crmBigTypeId=#{crmBigTypeId}
			</if>
			<if test="crmSmallTypeId !=null and crmSmallTypeId !=''">
				AND a.crmSmallTypeId=#{crmSmallTypeId}
			</if>
			<if test="sqlMap !=null and sqlMap !=''">
				${sqlMap.dsf}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY id DESC
			</otherwise>
		</choose>
	</select>

	<delete id="delete">
		DELETE FROM product_copy WHERE productId = #{id}
	</delete>

</mapper>